* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.navbar {
    background-color: #222;
    position: fixed;
    top: 0;
    height: 100%;
    max-width: 120px;
}

.navbar img {
    width: 100%;
    display: block;
}

.navbar__content {
    display: flex;
    flex-direction: column;
}

.navbar__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 12px 24px;
    text-decoration: none;   
}

.navbar__item span {
    color: #fff;
    font-size: 12px;
}

.navbar__item i {
    color: #fff;
    font-size: 36px;
}

.navbar__item:not(.navbar__item-active):hover {
    background-color: #000;
}

.navbar__item-active{
    background-color: #000;    
}
.navbar__item-active:hover {
    background-color: #ccc;
}
.navbar__item-active:hover i, 
.navbar__item-active:hover span{
    color: #000;
}

main {
    background-color: #000;
    margin-left: 120px;
    padding: 12px 24px;
}
.header {
    padding: 32px 16px;   
    text-align: center;
}
.header p {
    color: #fff;
}
.header img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}
h1 {
    font-size: 64px;
    margin: 10px 0;
    color: #fff;
}
p {
    font-size: 15px;
    margin: 15px 0;
    color: #999999;
}
.sector {
    padding: 64px 0;
}
h2 {
    color: #f1f1f1;
    font-size: 30px;
    margin: 10px 0;
}
h3 {
    color: #f1f1f1;
    font-size: 24px;
    margin: 10px 0;
    padding: 16px;
}
hr {
    border: none; 
    border-top: 1px solid #8f8f8f; 
    max-width: 200px; 
    margin: 20px 0;
}
.block__skills {
    height: 28px;
    background-color: #fff;
}
.skills__grey-top {
    background-color:#616161;
    height: 100%;
    width: 95%;
}

.skills__grey-cenetr {
    background-color: #616161;
    height: 100%;
    width: 85%;
}
.skills__grey-bottom {
    background-color:#616161;
    height: 100%;
    width: 80%;
}
.rectangle {
    background-color: #f1f1f1;
    margin: 34px 0;
    padding: 16px 0;
    display: flex;
    max-width: 100%;
}

.square {
    width: 25%;
    text-align: center;
    margin: 16px 0;
    font-size: 16px;
}
button {
    padding: 12px 24px;   
}
button .button__name {
    margin: 16px 0;
}
.price {
    display: flex;
    gap: 16px;      
    margin-bottom: 16px;
}
.list  { 
    width: 50%;  
    text-align: center;
    opacity: 0.6; 
}

.list:hover {
    background-color: #ffffff;
    opacity: 1;
}
.list li {
    padding: 16px;
    background-color: #ffffff;
    border-bottom:1px solid #ccc;
}
.list li:first-child {
    padding: 32px 16px;
    background-color: #616161;
    color: #ffffff;
    font-size: 24px;
}
.list li:last-child {
    background-color: #f3f1f1;
    padding: 24px 16px;
}

.list h4{
    font-size: 30px; 
}

ul {
    list-style: none;
}

.button__list {
    padding: 12px 24px;
    background-color:#ffffff;
    border: none;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.content__item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.circle-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
}
.photos {
   display: flex; 
   width: 100%;
   padding: 0 8px;
   gap: 16px;
}
.photos__item {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.photos img {
    width: 100%;
}
input {
    width: 100%;
    padding: 16px 8px;
}
.contact  {
    display: flex;
    flex-direction: column;
}
.contact__item {
    display: flex;
    
}
.contact__item p > i {
    font-size: 30px; 
    color: #fff; 
    margin-right: 16px; 
}
.footer i, a {
    color: #999999;
}

.footer i {
    font-size: 24px;   
}

@media (max-width: 600px){
    .navbar{
        max-width: none;
        height: auto;
        width: 100%;
    }

    .navbar img {
        display: none;
    }

    .navbar__content{ 
        flex-direction: row;
    }

    .navbar__content li {
        width: 25%;
    }

    .navbar__item i {
        display: none;
    }

    main {
        margin-left: 0;
    }
    .rectangle, .price {
        flex-direction: column;
        align-items: center;
       
    }

    .list {
        width: 100%;
    }
    .photos {
        flex-direction: column;
        padding: 0;
    }
    .photos__item {
        width: 100%;  
    }
}   



    


